<app-nav [showNavButtons]="false"></app-nav>

<div class="container">
  <div class="row">
    <div class="center col-sm-12 col-md-8 col-lg-5">

      <mat-card class="no-left-padding no-right-padding no-top-padding">
        <mat-card-content>
          <div class="col no-left-padding no-right-padding">
            <img src="../../../assets/images/header_dots.png">
          </div>
          <div id="icon-login" class="center col col-sm-5 col-md-5 col-lg-5">
            <img src="../../../assets/images/icon_login.png">
          </div>
        </mat-card-content>

        <mat-card-actions>
          <button [id]="getLoginButtonId()" mat-raised-button color="primary">{{'LOGIN.TITLE_BUTTON' | translate}}</button>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>
</div>
